<h1>New Article</h1>

<%= render 'form' %>

<%= link_to 'Back', articles_path %>
<!--                    A
                        |
                        |
                        |                 -->
<!-- If you want to link to an action in the same controller, you don't need to specify the :controller option, as Rails will use the current controller by default. -->


